<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="utf-8">
    <!-- Chargement de la librairie Javascript à utiliser -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Covid-19 {{country}} :</title>
</head>
<body>
    <center>
        <h1>Covid-19 {{country}} :</h1>
        <br>
        <div style="width: 50%; height: 50%">
            <canvas id="graphique" width="600" height="400"></canvas>
        </div>
        <br>
        <button data-target="ModalChangeCountry" class="btn waves-effect waves-light modal-trigger cyan darken-2">Change Country
            <i class="material-icons right">autorenew</i>
        </button>
        <div id="ModalChangeCountry" class="modal">
            <div class="modal-content">
                <h3>Change Country</h3>
                <p>Choice of country to view :</p>
                <br>
                <form id='ChangeCountry' action="/visual" method = "GET" autocomplete="off">
                    <div class="input-field">
                        <i class="material-icons prefix">flag</i>
                        <input id="autocomplete-input" type="text" class="autocomplete" name='Country'>
                        <label for='autocomplete-input'>Country</label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light cyan darken-2 left" type="submit">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <a class="btn modal-action modal-close waves-effect waves-light red darken-2">Close
                            <i class="material-icons right">close</i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <button data-target="ModalViewInfo" class="btn waves-effect waves-light modal-trigger cyan darken-2">View Information
            <i class="material-icons right">visibility</i>
        </button>
        <div id="ModalViewInfo" class="modal">
            <div class="modal-content">
                <h3>Here are the latest news for {{country}}</h3>
                {{last | safe}}
            </div>
            <div class="modal-footer">
                <a class="btn modal-action modal-close waves-effect waves-light red darken-2">Close
                    <i class="material-icons right">close</i>
                </a>
            </div>
        </div>
        <script>
            let ctx = document.getElementById('graphique').getContext('2d');
            let myChart = new Chart(ctx, {
                type : 'line',
                data : {{data | safe}}});
        </script>
    </center>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const box = document.querySelectorAll(".modal");
            M.Modal.init(box, {});
        });
        document.addEventListener('DOMContentLoaded', function() {
            const choice = document.querySelector('.autocomplete');
            M.Autocomplete.init(choice, {
            data :{
                {% for item in countries %}
                    "{{item}}" : null,
                {% endfor %}
            },
            limit : 3,});
        });
        let tabCountry = [{% for i in countries %}
                                '{{i}}',
                            {% endfor %}];
        function search(array, value) {
            let first = 0;
            let last = array.length;
            while(first <= last) {
                let middle = Math.floor((last + first) / 2);
                if(array[middle] === value) {
                    return true;
                } else if(array[middle] < value) {
                    first = middle+1;
                } else {
                    last = middle - 1;
                }
            }
            return false;
        }
        const changeCountryForm = document.getElementById('ChangeCountry');

        changeCountryForm.addEventListener("submit", function (e) {
            let field = document.getElementById("autocomplete-input").value;
            let bool = search(tabCountry, field);
            if(!bool) {
                e.preventDefault();
                M.toast({html : String(field) + " is not in list !", classes : 'rounded'});
            }
        });
    </script>
</body>
</html>