<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <title>COVID-19 - Graphique ({{country}})</title>
</head>
<body>
    <canvas id="graphique" width="200px" height="95px"></canvas>
    <script>
        var ctx = document.getElementById('graphique').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'line',
        data:
        {{ data | safe }}
        });
    </script>
</body>
</html>