<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

        <title>Covid-19 Comparing {{title}}</title>
    </head>
    <body>
        <center>
            <h1>Covid-19 Comparing {{title}} :</h1>
            <br>
            <div style="width:50%; height: 50%">
                <canvas id="graphique" width="600" height="400"></canvas>
            </div>
            <br>
            <button data-target="ModalComparing" class="btn waves-effect waves-light modal-trigger cyan darken-2">Change Options<i class="material-icons right">autorenew</i></button>
            <div id="ModalComparing" class="modal">
                <div class="modal-content">
                    <h3>Change Options</h3>
                    <p>Choice of counries :</p>
                    <form id="ChangeInfos" action="/compare" method="GET" autocomplete="off">
                        <div class="input-field">
                            <i class="material-icons prefix">flag</i>
                            <input id="autocomplete-input1" type="text" class="autocomplete" name="FirstCountry">
                            <label for="autocomplete-input1">First Country</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">flag</i>
                            <input id="autocomplete-input2" type="text" class="autocomplete" name="SecondCountry">
                            <label for="autocomplete-input2">Second Country</label>
                        </div>
                        <p>Choice of category :</p>
                        <div class="input-field">
                            <p>
                                <label>
                                    <input type="radio" name="info" value="1" checked>
                                    <span>New Cases</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="radio" name="info" value="2">
                                    <span>Total Cases</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="radio" name="info" value="3">
                                    <span>New Deaths</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="radio" name="info" value="4">
                                    <span>Total Deaths</span>
                                </label>
                            </p>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button class="btn waves-effect waves-light cyan darken-2 left" type="submit">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <a class="btn modal-action modal-close waves-effect waves-light red darken-2">Close
                                <i class="material-icons right">close</i>
                            </a>
                        </div>
                    </form>
                </div>Compare?FirstCountry=Belgium&SecondCountry=Canada&info=on
            </div>
            <script>
                let dataLabels = [{% for i in labels %}
                                        '{{i}}',
                                    {% endfor %}];
                let dataFirstCountry = [{% for i in values1 %}
                                            {{i}},
                                    {% endfor %}];
                let dataSecondCountry = [{% for i in values2 %}
                                            {{i}},
                                        {% endfor %}];

                let FirstCountry = '{{first_country}}';
                let SecondCountry = '{{second_country}}';

                let ctx = document.getElementById('graphique').getContext('2d');


                let myChart = new Chart(ctx, {
                    type : 'line',
                    data : {
                        labels : dataLabels,
                        datasets : [{
                                label : FirstCountry,
                                fill : false,
                                steppedLine : false,
                                backgroundColor : false,
                                borderColor : 'rgb(255, 99, 132)',
                                data : dataFirstCountry,
                        },
                        {
                            label : SecondCountry,
                            fill : false,
                            steppedLine : false,
                            backgrooundColor : false,
                            borderColor : 'rgb(0, 0, 153)',
                            data : dataSecondCountry,
                        }
                        ],
                    },
                    options : {}
                });
            </script>
        </center>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const box = document.querySelectorAll('.autocomplete');
                M.Autocomplete.init(box, {data : {
                    {%for item in countries %}
                        "{{item}}" : null,
                    {% endfor %}
                },
                limit : 3,
                });
            });
            document.addEventListener('DOMContentLoaded', function() {
                const modal = document.querySelectorAll('.modal');
                M.Modal.init(modal, {});
            });

            let tabCountry = [{% for i in countries %}
                                    '{{i}}',
                            {% endfor %}];
            function search(array, value) {
                let first = 0;
                let last = array.length;
                while(first <= last) {
                    let middle = Math.floor((last + first) / 2);
                    if(array[middle] === value) {
                        return true;
                    } else if(array[middle] < value) {
                        first = middle+1;
                    } else {
                        last = middle - 1;
                    }
                }
                return false;
            }

            const changeCompareForm = document.getElementById("ChangeInfos");

            changeCompareForm.addEventListener("submit", function(e) {
                let fieldFirstCountry = document.getElementById("autocomplete-input1").value;
                let fieldSecondCountry = document.getElementById("autocomplete-input2").value;

                let boolFirstCountry = search(tabCountry, fieldFirstCountry);
                let boolSecondCountry = search(tabCountry, fieldSecondCountry);
                if(!boolFirstCountry) {
                    e.preventDefault();
                    M.toast({html : String(fieldFirstCountry) + " is not in list !", classes : 'rounded'});
                } else if(!boolSecondCountry) {
                    e.preventDefault();
                    M.toast({html : String(fieldSecondCountry) + " is not in list !", classes : 'rounded'});
                }
                if(fieldFirstCountry === fieldSecondCountry) {
                    e.preventDefault();
                    M.toast({html : "You choose the same country twice !", classes : 'rounded'});
                }
            });
        </script>
    </body>
</html>