﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- Chargement de la librairie Javascript à utiliser -->
    <!-- depuis Internet -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <!-- Localement
    <script src="Chart.bundle.min.js"></script>-->
    <title>Un graphique en batonets</title>
</head>
<body>

<canvas id="graphique" width="200px" height="100px"></canvas>
<script>
    // l'identifiant est celui du canevas
    var ctx = document.getElementById('graphique').getContext('2d');
    // création du graphique
    var myChart = new Chart(ctx, {
            type: 'bar',   // le type du graphique
            data: {        // les données
                labels:  {{ pays_data | safe}},
                datasets: [{
                    label: 'cas',
                    yAxisID: 'cas',
                    backgroundColor : 'rgb(69,255,232)',
                    borderColor : 'rgb(130,124,255)',
                    data: {{ cas_data | safe}},
                },{
                    label: 'mort',
                        yAxisID: 'mort',
                    backgroundColor : 'rgb(255,7,0)',
                    borderColor : 'rgb(252,246,255)',
                    data: {{ mort_data | safe}}}],
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'cas',
                        type: 'linear',
                        position: 'left',
                    }, {
                        id: 'mort',
                        type: 'linear',
                        position: 'right',
                        ticks: {
                            max: 100,
                            min: 0
                        }
                    }]
                }
            }
    });
</script>

</body>
</html>