<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" charset="utf-8">
    <title>INGInious Analysis</title>
    <link rel="icon" type="image/png" href="static/logo.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/materialize.css">
    <link rel="stylesheet" href="static/materialize.min.css">
    <script type="text/javascript" src="static/materialize.js"></script>
    <script type="text/javascript" src="static/materialize.min.js"></script>
    <script type="text/javascript" src="static/activator.js"></script>
</head>

    <nav class="nav-extended">
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
                <div class="background">
                    <img src="static/background.png">
                </div>
                <a href="/"><img class="circle" src="static/logo.png"></a>
                <a href="/"><span class="white-text name">INGInious Analysis</span></a>
            </div></li>
            <li><a href="/all">Global</a></li>
            <li><a href="/try">Per Course</a></li>
            <li><a href="/avg">Percentage Of Success</a></li>
        </ul>
    </nav>

<nav class="nav-extended grey darken-3">
    <div class="nav-wrapper">
        <ul class="left show-on-medium-and-down">
            <li><a data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
        </ul>
        <ul class="left hide-on-med-and-down">
            <li><a href="/" class="brand-logo inginious_style">INGInious Analysis</a></li>
        </ul>
        <a href="/" class="brand-logo center"><img src="static/logo.png" alt="logo" width="60px"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/all">Global</a></li>
            <li><a href="/try">Per Course</a></li>
            <li><a href="/avg">Percentage Of Success</a></li>
        </ul>
    </div>
</nav>

{{settings | safe}}

{% if is_main_page != True %}
<h2 class="center inginious_style">{{type_title | safe}}</h2>

{% if has_correct_input %}
<div class="divider"></div>
<graph>
    <div class="col s12">
        <center>
            <h3>{{title | safe}}</h3>
        </center>
        <canvas id="graph" width="200px" height="75px"></canvas>
        <script>
            let ctx = document.getElementById('graph').getContext('2d');
            let myChart = new Chart(ctx, {
                type : {{type_graph | tojson}},
            data : {
                "labels": {{axis_x_data | tojson}},
                "datasets": {{axis_y_data | tojson}}
            },
            options: {{options | tojson}}
            });
        </script>
    </div>
</graph>
<br><br>
{% endif %}

{% if not has_correct_input %}
<div class="divider black"></div>
<br>
<h3 class="inginious_style center">No data to display...</h3>
<br><br><br>
{% endif %}
{% endif %}

<footer class="page-footer grey darken-3">
    <div class="footer-copyright">
        <div class="container">
            © 2020 CS Students UCLouvain
            <a class="hover_underline grey-text text-lighten-4 right" href="https://inginious.org/">INGInious is distributed under AGPL license</a>
        </div>
    </div>
</footer>
</html>