@font-face {
    font-family: Yanone Kaffeesatz;
    src: url('YanoneKaffeesatz-Light.ttf');
}

.inginious_style {
    font-family: Yanone Kaffeesatz, sans-serif;
}

.hover_green:hover {
    cursor: pointer;
    color: #6fa03c;
}

.hover_underline:hover {
    text-decoration: underline;
    cursor: pointer;
}
